$botanical-green: #429F1A;
$verse-green: #1A5E22;
$green-apple: #2F7910;
$black: #000000;
$gem-silica: #2F7455;
$floral-white: #F7FFF8;
$dulco-green: #A4D142;
$applegate: #8BC373;
$gray75: #BFBFBF;
$white: #FFFFFF;


